language: android

android:
  components:
    - build-tools-20.0.0
    - android-20
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository


before_install:
    - git clone https://github.com/simpligility/maven-android-sdk-deployer.git
    - cd maven-android-sdk-deployer
    - mvn install
    - cd ..

install: mvn clean install

script: mvn checkstyle:checkstyle

