language: android

android:
  components:
    - build-tools-23.0.2
    - android-23
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository

script: 
	- ./gradlew checkstye build

